<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.t4j.mobilenurse" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="com.t4j.mobilenurse.MobileNurseApplication"
        android:allowBackup="false"
        android:icon="@drawable/nurse_g"
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DirectImageActivity"
            android:label="DirectImage"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation">
        </activity>
        <activity
            android:name=".SelectImageActivity"
            android:label="SelectImage"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation">
        </activity>
        <activity
            android:name=".SelectModeActivity"
            android:label="SelectMode"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation">
        </activity>
        <activity
            android:name=".InspectionActivity"
            android:label="Inspection"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation">
        </activity>
        <activity
            android:name=".InfoActivity"
            android:label="Info"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation">
        </activity>
    </application>

</manifest>
